<div class="addd-size">

    <% @shop.each do |i|%>
<%=i.shop_name%> <br>
<%=i.shop_owner%> <br>
<%=i.location%> <br>
<%=i.address%> <br>
<li><%= link_to 'add service type and price',service_type_path(i.id), class: "text-danger"%></li>


 <p>-------------------------------------------------------------------------</p>
<%end%>
<li><%= link_to 'Profile',profile_servicecenters_path, class: "text-danger"%></li>

</div>

