

 <div class="bg">

  <h2>User Table</h2>
  
  
  <div class="table-wrapper">
      <table class="fl-table">
        <thead >
          <tr>
            <th scope="col">Name</th>
            <th scope="col">vehicle_number</th>
            <th scope="col">Contact number</th>
            <th scope="col">cost</th>
            <th scope="col">service_center_id</th>
            <th scope="col">User_id</th>
            <th scope="col">Request Date</th>
            <th scope="col">Request_time</th>
            <th scope="col">Cofirm date</th>
            <th scope="col">Cofirm Time</th>
            <th scope="col">Slot number</th>
            <th scope="col">Category</th>
            <th scope="col">Next service date</th>  
            <th scope="col">Bill</th>
            <th scope="col">Payment</th>
          </tr>
        </thead>
          <tbody>
            <%@client.each do |i|%>
            <%a = Client.find(i)%>
           <tr>
             <td> <%=a.name%></td>
             <td> <%=a.vehicle_number%></td>
             <td><%=a.contact_number%></td>
             <td> <%=a.cost%></td>
             <td> <%=a.service_center_id%></td>
             <td> <%=a.user_id%></td>
             <td><%=a.request_date%></td>
             <td> <%=a.request_time%></td>
             <td> <%=a.confirm_date%></td>
             <td><%=a.confirm_time%></td>
             <td><%=a.confirm_slot%></td>
             <td> <%=a.category%></td>
             <td><%=a.next_date%></td>
             <td><%=link_to "Bill",bill_detail_client_path(a.id)%></td>
             <td> <% if a.confirm_date%>
               <%= link_to "payment",payment_path(a.id,a.cost,a.service_center_id )%>
              <%end%>   </td>
           </tr>
           <%end%>
         </tbody>
      </table>
  </div>
  
    </div>