<%=flash[:msg]%>
  

 
      
  <div class="bg">

    <h2>CREATE SERVICE CENTER <%= link_to 'CREATE SHOP',new_service_center_path, class: "btn btn-danger"%>
    
    
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Shop OWner</th>
                <th>Shop name</th>
                <th>Location</th>
                <th>Address</th>
                <th>show</th>
                <th>edit</th>
                <th>Destroy</th>
                <th>Slot</th>
            </tr>
            </thead>
            <tbody>
        
              <%@all.each do |i|%>
            <tr>
                <td class="text-dark">  <%= i.shop_owner%></td>
                <td class="text-dark"> <%= i.shop_name%></td>
                <td class="text-dark"> <%= i.location%> </td>
                <td class="text-dark"><%= i.address%></td>
                <td><%=link_to "show",show_data_service_center_path(i.id),class:"btn btn-danger"%> </td>
                <td>        <%=link_to "edit",edit_service_center_path(i.id),class:"btn btn-danger"%> </td>
                <td>       <%= link_to "Destroy", service_center_path(i.id), data: { turbo_method: :delete,turbo_confirm: "Are you sure?"},class:"btn btn-danger" %></td>
                <td> <%=link_to "Slot",slot_path(i.id),class:"btn btn-danger"%> </td>
            </tr>
            <%end%>
           
            <tbody>
        </table>
    </div>
    
      </div>