<h1>Please fill below detail to Request for <%= @request_id.shop_name%> </h1>


<div class="container add">



<%= form_with method: :get,url: service_center_path(@request_id) do |form| %>
<div>
  <%= form.label :Your_Name %><br>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :Vehicle_Number%><br>
  <%= form.text_field :vehicle_number %>
</div>
<div>
    <%= form.label :Contact_Number%><br>
    <%= form.text_field :contact_number %>
  </div>
<div>
  <%= form.submit "submit"%>
</div>
<% end %> 

</div>

