<div class="alert alert-primary text-center" role="alert">
  <%= flash[:invalid] %>
  <%=flash[:error]%>
  <%=flash[:e]%>
</div>


<h1>Please fill below detail to Request for <%= @request_id.shop_name%> </h1>

       <div class="container add">
        <div class="row">
                   <div class="col-6">
                         <h1 style="margin-right: 723px;"> slots</h1>
                     <% if @slots %>
                        <% @slots.each do |i|%>
                          <%=i.name%>
                          <%=i.status%> <br>
                        <%end%>
                        <% else %>
                          There is nothing for to display
                     <%end%>
                   </div>

                   <div class="col-6">
                               Status hgh<br>
                               
                               <table class="table">
                                <thead class="thead-dark ">
                                  <tr>
                                    
                                    <th scope="col">Slot Status</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Time</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <% @time.ids.each do |i|%>
                                  <%a = Client.find(i)%>
                                  <tr>
                                    <%if a.status == "booked"%>
                                  
                                    <td><%=a.status%></td>
                                    <td> <%=a.category%></td>
                                    <td> <%=a.category_time%></td>
                                    <%end%> 
                                  </tr>
                                  <%end%>
                                </tbody>
                              </table>
                              
                          

                            </div>
                             
                  </div>
        </div>


       </div>


<div class="container add mt-5">


   <div class="row">
           <div class="col-5">

               
                <% if @request_id%>
                  <%= form_with method: :get,url: service_center_path(@request_id) do |form| %>
                  <div>
                    <%= form.label :Your_Name %><br>
                    <%= form.text_field :name %>
                  </div>
                  
                  <div>
                    <%= form.label :Vehicle_Number%><br>
                    <%= form.text_field :vehicle_number %>
                  </div>

                  <div>
                      <%= form.label :Contact_Number%><br>
                      <%= form.text_field :contact_number %>
                  </div>

                  <div>
                    <%= form.label :Date%><br>
                    <%= form.date_field :request_date %>
                  </div>

                  <div>
                    <%= form.label :Time%><br>
                    <%= form.time_field :request_time %>
                  </div>



                    <div class="bg-dander mb-2">
                      <%= form.label :Category%><br>
                      <%= form.select :category,@a%>
                  </div>
                  
                  <div>
                    <%= form.submit "submit"%>
                  </div>
                  <% end %> 
                  <%else%>
                   nothing have to display
                <%end%>

           </div>


           <div class="col-7 text-center">
            <table class="table table-striped">
              <thead>
                <tr>
        

                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                  <th scope="col">Time</th>

                </tr>
              </thead>
              <tbody>
                <%CategoryList.all.each do |i|%>
                <tr>
                
                  <td><%=i.name%> </td>
                  <td><%=i.cost%> </td>
                  <td><%=i.time%> </td>
                  
                   
                </tr>
                <%end%>

          
                
              </tbody>
            </table>
            

            
           </div>


   </div>
</div>



 
