<div class="add container">


  <% if @all %>
         
  <%@all.each do |i|%>
    <li class="add"><%= i.shop_owner%></li> <br>
    <%= i.shop_name%> <br>
    <%= i.location%>  <br>
    <%= i.address%>  <br>
    <% a = ServiceType.where(service_center_id:i.id)%>
    <% a.each do |t|%>
        Type of services:<%= t.name%> <br>
        Cost of service:<%=t.cost%>
        <br>
    <%end%>
    <%= link_to 'Resquest for services' ,client_request_service_centers_path %>
    <p>-----------------------------------------------------------------------</p>
    <%end%>


  <%else%>
   nothing have to display
 <%end%>



</div>