 <%= flash[:n]%>

<div class="container add">
       <% if @shop %>
           
    <% @shop.each do |i|%>
    <%=i.shop_name%> <br>
    <%=i.shop_owner%> <br>
    <%=i.location%> <br>
    <%=i.address%> <br>
    <% a = ServiceCenter.find(i.id)%>
             <% a.slots.all.each do |j|%>
              <%=j.name%> 
              <%=j.status%><br>
             <%end%>

    
    
    
    
    <%= form_with method: :get,url:add_service_path(i.id) do |form| %>
      <div>
        <%= form.label :Service_Name %><br>
        <%= form.text_field :service_name %>
      </div>
    
      <div>
        <%= form.label :Cost_of_service%><br>
        <%= form.text_field :service_cost %>
      </div>
     
      <div>
        <%= form.submit %>
      </div>
    <% end %> 
    
    
    
     
    
    <%= form_with method: :post ,url: { controller: 'slot', action: 'create', id: i.id } do |form| %>
      <div>
        <%= form.label :Slot_Name %><br>
        <%= form.text_field :name %>
      </div> 
      <div>
        <%= form.submit 'add'%>
      </div>
    <% end %> 
    
    
    
    <p>-------------------------------------------------------------------------</p>
    <%end%>
    

       <%else%>
       Nothing having to display
       <%end%>


</div>

