 <%= flash[:n]%>

<div class="container add">
        <div class="row">
                  <div class="col-3">

                    <% if @shop %>
           
    <% @shop.each do |i|%>
    <%=i.shop_name%> <br>
    <%=i.shop_owner%> <br>
    <%=i.location%> <br>
    <%=i.address%> <br>
    <% a = ServiceCenter.find(i.id)%>
             <% a.slots.all.each do |j|%>
              <%=j.name%> 
              <%=j.status%><br>
             <%end%>

    
    
    
    
    <%= form_with method: :get,url:add_service_path(i.id) do |form| %>
       
    <div class="form-group mb-2">
      <%= form.label :category%><br>
       <%= form.collection_select :category,CategoryList.all,:name ,:name%>
      </div>
  
      <div>
        <%= form.submit %>
      </div>
    <% end %> 
    
    
    
     
    
    <%= form_with method: :post ,url: { controller: 'slot', action: 'create', id: i.id } do |form| %>
      <div>
        <%= form.label :Slot_Name %><br>
        <%= form.text_field :name %>
      </div> 
      <div>
        <%= form.submit 'add'%>
      </div>
    <% end %> 
    
    
    
    <p>-------------------------------------------------------------------------</p>
    <%end%>
    

       <%else%>
       Nothing having to display
  <%end%>


                  </div>

                  <div class="col-8">
                     
                      
                    
                     

                      <table class="table table-hover">
                        <thead>
                          <tr>
                            
                            <th scope="col">category</th>
                            <th scope="col">Time</th>
                            <th scope="col">Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%@category.each do |i|%>
                          <tr>
                            
                            <td>  <%=i.name%> </td>
                            <td>  <%=i.time%> </td>
                            <td>  <%=i.cost%></td>
                          </tr>
                          <%end%>
                      
                        
                        </tbody>
                      </table>
                  </div>

        </div>
           
</div>

