
 <div class="container add">


    <% @all.each do |i|%>
    <%=i.name%>
    <%=i.cost%>
    <%=i.time%> 
    <%=link_to "carete",new_category_list_path,class:"btn btn-danger"%>
    <%=link_to "show",category_list_path(i),class:"btn btn-danger"%>
    <%=link_to "edit", edit_category_list_path(i),class:"btn btn-danger"%>
    <%= link_to "Destroy", category_list_path(i), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    <%end%>



 </div>