<div class="container add mt-4">

    <%= form_with method: :post ,model:@admin, url: {controller: 'category_list', action: 'create'} do |form| %>
    <div>
      <%= form.label :Category_list%><br>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :Price %><br>
      <%= form.text_field :cost%>
    </div>

    <div>
      <%= form.label :Time %><br>
      <%= form.text_field :time%>
    </div>
    
    <div>
      <%= form.submit "Create list"%>
    </div>
<% end %> 



 </div>