<header class="header">
  <nav class="navbar">
      <a href="#" class="nav-logo">Services</a>
      <ul class="nav-menu">
        <li class="nav-item">
                     
          <%= link_to 'HOME',root_path, class: "nav-link text-white"%>
          </li>
      <li class="nav-item text-white">
           <% if current_user %>
                <%= current_user.email%>
           <%else%>

           <%end%>           
          
        </li>
                      <li class="nav-item">
                     
                      <%= link_to 'CREATE SHOP',new_servicecenter_path, class: "nav-link text-white"%>
                      </li>
                      <li class="nav-item">
                     
                        <%= link_to 'SHOP',shop_detail_servicecenters_path, class: "nav-link text-white"%>
                        </li>
 
                       <% if user_signed_in? %> 
                      <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},class:"text-bold nav-link nav-item"%></li>

 <% else %>
 <li><%= link_to "sign up", new_user_registration_path,class:"text-white nav-link nav-item" %></li>
 <li><%= link_to "sign in", new_user_session_path ,class:"nav-link text-white  nav-item"%></li>
 
 
 <%end%>
          
      </ul>
      <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </div>
  </nav>
</header>

